<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Expense - Finance Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'finance/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header><h1>Add Expense</h1></header>
<div style="display: flex; min-height: calc(100vh - 100px);">
{% include 'finance/sidebar.html' %}

<!-- Django Messages -->
    {% if messages %}
    <div id="popup-messages">
        {% for message in messages %}
        <div class="popup-message {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}


<main style="flex: 1;">
    <h1 class="page-title">💸 Add Expense</h1>
    
    <!-- Add Expense Form -->
    <form method="POST" style="margin-bottom:20px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Expense</button>
    </form>
    <h2 style="text-align: center;">Already have a csv of Expenses to add? Upload it here ⬇️</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'upload_expense_csv' %}" style="margin-bottom:20px; align-items: center;">
        {% csrf_token %}
            <label for="csv_file">Upload Expense CSV (MAX limit: 1MB)</label>
            <input type="file" name="csv_file" accept=".csv" required>
            <button type="submit">Upload</button>
    </form>

    <!-- Expense Chart -->
    <div class="chart-placeholder" style="height:300px;">
        <canvas id="expenseChart"></canvas>
    </div>
</main>
</div>

<footer><p>Finance Manager © 2025</p></footer>

<script>
const ctxExpense = document.getElementById('expenseChart');
new Chart(ctxExpense, {
    type: 'doughnut',
    data: {
        labels: {{ categories|safe }},
        datasets: [{
            data: {{ chart_data|safe }},
            backgroundColor: ['#3498DB', '#4e1365ff', '#E74C3C', '#f6cc25ff', '#5bc515ff', '#E67E22', '#34495E', '#FF69B4', '#8E44AD', '#a01670ff']
        }]
    },
    options: {
        plugins: { legend: { labels: { color: '#E0E0E0', font: { size: 14 } } } },
        responsive: true,
        maintainAspectRatio: false
    }
});
</script>
</body>
</html>
